.menuContainer {
   border-bottom: 1px solid #dedede;
   
   .menuItems{
      display: flex;
      justify-content: space-between;
      min-height: 5vh;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;

      .menuLeft, .menuRight{
         display: flex;
         flex-direction: row;
         align-items: center;

         p {
            margin-right: 10px;
            margin-left: 3px;
         }

         select {
            padding: 0.25rem;
            height: 5vh;
            margin-right: 1rem;

            border: none;

            font-family: 'Montserrat', sans-serif;
            outline: none;
         }

         span {
            position: relative;
            margin-top: 16px;
            font-size: 10px;
            padding: 1px 5px;

            background: purple;
            color: #fff;
            border-radius: 50%;
         }
      }
   }
}