.homePage {
   display: flex;
   justify-content: center;

   margin: 0 auto;
   max-width: 920px;
   padding: 0 4rem;
   height: 100vh;
   
   section {
      padding-top: 3rem;
      margin-bottom: 1.5rem;
   }

   ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 2rem;

      li {
         display: flex;
         flex-direction: column;
         align-items: center;
         background: #fff;

         width: 280px;
         padding: 1.5rem 0.8rem;
         border-radius: 1rem;
         line-height: 32px;

         span {
            img{
               border-radius: 8px;
            }
         }

         h3 {
            font-size: 1.2rem;
            font-weight: 600;
         }
      }

      @media(max-width: 767px) {
         grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: 769px) and (max-width: 1221px){
         grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: 426px) and (max-width: 920px){
         grid-template-columns: repeat(2, 1fr);
      }
   }
}