.navbarContainer {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    img {
        max-width: 300px;
        max-height: 250px;
        cursor: pointer;
    }

    border-bottom: 1px solid #dedede;
}