.carrinhoContainer {
   padding: 2rem 1rem;
   margin: 0 auto;
   max-width: 1200px;

   section {
      padding: 1rem 0;
   }

   ul {
      list-style: none;

      li {
         display: flex;
         padding: 1rem;
         margin-bottom: 1rem;
         justify-content: space-around;
         background: #fff;
         max-width: 50%;

         border: 1px solid rgba(0, 0, 0, 0.2);
         border-radius: 8px;
      }

   }

   .total {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      max-width: 50%;
      border-radius: 8px;

      font-size: 1.5rem;
      padding: 1rem;
      font-weight: 500;
   }

   .itemDescription {
      margin-left: 1rem;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      .adicionarMais {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;

         max-width: 130px;

         button {
            background: none;
            border: none;
            cursor: pointer;

            &:hover {
               color: cornflowerblue;
            }
         }
      }
   }
}